In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('Base_Banco.csv', encoding = "ISO-8859-1", sep=';')

In [4]:
df.shape

(4521, 14)

In [5]:
df.head(5)

,edad,ocupación,est_civil,nivel_educativo,contrato_meses,Cred_hipotecario,Cred_personal,Medio_contacto,Dia,Mes,duracion_seg,cont_campaña_actual,campañas_previas,aceptacion_TC
0,30,desempleado,casado,primaria,21,no,no,celular,19,octubre,79,1,0,no
1,33,profesor,casado,bachillerato,37,si,si,celular,11,mayo,220,1,4,no
2,35,administrador,soltero,universitario,52,si,no,celular,16,abril,185,1,1,no
3,30,administrador,casado,universitario,27,si,si,chat,3,junio,199,4,0,no
4,59,informal,casado,bachillerato,6,si,no,chat,5,mayo,226,1,0,no

## Exporting data to csv

In [7]:
df.to_csv('banco_dataframe.csv')